[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    {% set unload = params.UNLOAD_AT_END|default(0)|int %}
    {% set hotbed = params.HOTBED|default(0)|int %}
    {% set MATERIAL = params.MATERIAL|default('PLA')|string %} ; Get material type from slicer
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                                     ; wait for buffer to clear
    G92 E0                                   ; zero the extruder
    G1 E-2.0 F3600                           ; retract filament
    G1 E-15 F900                             ; unload it out of hot zone to allow for filament change if desired

    M104 S150                                ; Change extruder to 150 to prep for tap on next print.

    {% if hotbed|int == 0%}                  ; If HOTBED variable in PRINT_END slicer gcode is 0 then cool down the bed, If it's one
      TURN_OFF_HEATERS
    {% endif %}

    G90                                      ; absolute positioning
#    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    PARKCREAR_BUCKET                         ; park nozzle over purge bucket so when hyeating, filament oozes into bucket.
    M107                                     ; turn off fan
    G91                                      ; Relative coordinates.
    
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    {% if unload|int == 1%}
      ERCF_EJECT
    {% endif %}

    START_CHAMBER_LED_TIMER                   ; start 1800 second timer to turn off the chamber LEDs

    {% if hotbed|int == 0%}                   ; Turn on the chamber fan, but only if we arent keeping the bed hot
      CHAMBER_FAN_ON
      START_FAN_TIMER
    {% endif %}

    STATUS_READY